apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-deployment
spec:
  replicas: {{ .Values.replicas | default 1 }}
  selector:
    matchLabels:
      app: mssql
  template:
    metadata:
      labels:
        app: mssql
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds | default 30 }}
      hostname: {{ .Values.hostname | default "mssqlinst" }}
      securityContext:
        fsGroupChangePolicy: {{ .Values.podSecurityContext.fsGroupChangePolicy | default "OnRootMismatch" }}
        {{- if .Values.podSecurityContext.fsGroup }}
        fsGroup: {{ .Values.podSecurityContext.fsGroup }}
        {{- end }}
      containers:
      - name: mssql
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.resources }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: {{ .Values.containers.ports.containerPort }}
        {{- if .Values.containerSecurityContext }}
        securityContext:
          {{- toYaml .Values.containerSecurityContext | nindent 10 }}
        {{- end }}
        env:
        - name: MSSQL_PID
          value: {{ .Values.MSSQL_PID.value | quote }}
        - name: ACCEPT_EULA
          value: {{ .Values.ACCEPT_EULA.value | upper | quote }}
        {{- if .Values.MSSQL_AGENT_ENABLED }}
        - name: MSSQL_AGENT_ENABLED
          value: {{ .Values.MSSQL_AGENT_ENABLED.value | quote }}
        {{- end }}
        - name: MSSQL_SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.mssql.secretName | default "mssql" }}
              key: MSSQL_SA_PASSWORD
        volumeMounts:
        - name: mssqldb
          mountPath: /var/opt/mssql
      volumes:
      - name: mssqldb
        persistentVolumeClaim:
          claimName: mssql-data
