apiVersion: v1
kind: Service
metadata:
  name: mssql-deployment
spec:
  selector:
    app: mssql
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.containers.ports.containerPort }}
  type: {{ .Values.service.type | default "LoadBalancer" }}
